.gradient-border {
  width: 176px;
  height: 176px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 0px solid transparent;
  background-clip: content-box;
  animation: changeColors 5s linear infinite;
  -webkit-animation: changeColors 5s linear infinite;
}

@keyframes changeColors {
  0% {
    background: #f06;
  }
  25% {
    background: #9f6;
  }
  50% {
    background: #6f9;
  }
  75% {
    background: #69f;
  }
  100% {
    background: #f69;
  }
}
