/* CustomAlert.css */
.custom-alert {
    background-color: #f44336; /* Red background color */
    color: white;
    padding: 16px;
    margin: 16px;
    border-radius: 4px;
    text-align: center;
  }
  
  .custom-alert button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 8px;
    font-weight: bold;
  }
  
  .custom-alert button:hover {
    text-decoration: underline;
  }
  