.splash-screen {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 36px;
  font-weight: bold;
  position: relative;
}

.splash-card {
  background: linear-gradient(45deg, #e20be2, #2fb9f8, #45048f, #00ff00);
  background-size: 400% 400%;
  animation: gradient 5s linear infinite;
  text-align: center;
  width: 450px;
  padding: 50px;
  margin: 30px;
  border-radius: 90px;
  transform: translateZ(40px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


.splash-text {
  font-size: 26px;
  font-weight: 500;
  color: white;
}

@keyframes loading {
  0% {
    content: ".";
  }
  20% {
    content: "..";
  }
  40% {
    content: "...";
  }
  60% {
    content: "....";
  }
  80% {
    content: ".....";
  }
}

.splash-text::after {
  content: ".";
  animation: loading 1s infinite steps(1);
}

.splash-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }